/* Estilo do corpo */
body {
    background-color: #101728;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Header sem borda e ajustado */
.topo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: fixed;
    width: 100%; /* Ocupa toda a largura */
    top: 0;
    z-index: 1000; /* Garante que o header fique por cima */
}

#logo {
    height: 110px;
    margin-right: 10px;
}

#haze {
    font-size: 2rem;
    color: white;
}

/* Página 1 - Tela inteira com gradiente */
#pagina1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at bottom right, #1f41bb, #1f41bb, #101728, #101728);
}

/* Centralizando conteúdo com o botão abaixo */
.txt-principal {
    color: white;
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaço entre elementos */
}

/* Botão estilizado */
.botao {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(to right, #971570, #f953c6);
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efeito de hover no botão */
.botao:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

div a{
    padding-left: 200px;
}

/* Páginas 2, 3, 4, 5 - Fundo escuro */
#pagina2, #pagina3, #pagina4, #pagina5 {
    background-color: #101728;
}

/* Página 2 - Texto à esquerda, imagem à direita */
.pagina2 {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 50px 100px;
    gap: 50px;
    background: radial-gradient(circle at top right, #1f41bb, #1f41bb, #101728, #101728);
}

/* Imagem na página 2 */
#imagem2 {
    width: 40%;
    height: auto;
    border-radius: 20px;
}

/* Texto na página 2 */
.paragr{
    font-size: 20px;
    color: white;
    width: 50%;
    text-align: left;
}

/* Página 3 - Texto e imagem invertidos */
#pagina3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    padding: 50px 100px;
    gap: 50px;
}

/* Imagem na página 3 */
#imagem3 {
    width: 40%;
    height: auto;
    border-radius: 20px;
}

/* Páginas 4 e 5 - Layout flexível */
#pagina4, #pagina5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 50px 100px;
    gap: 50px;
}

#imagem4, #imagem5 {
    width: 40%;
    height: auto;
    border-radius: 40px;
}

/* Títulos */
.title2, .title3, .title4, .title5 {
    font-size: 4rem;
    color: #9340ff;
    margin-bottom: 20px;
}

/* Rolagem para cima */
.rollup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.seta {
    width: 50px;
    transform: rotate(180deg);
}

.btn-entrar{
    display: flex;
    justify-content: center;
}