html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101728;
    color: white;
    scroll-behavior: smooth;
}

.topo {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
}

#logo {
    width: 50px;
    margin-right: 10px;
}

.secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

#pagina1 {
    background: radial-gradient(circle at bottom right, #1f41bb, #061b50, #101728);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.txt-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 2.5rem;
}

.foguete {
    width: 300px;
}

.botao {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient(to right, #971570, #f953c6);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    outline-style: none;
}

.botao:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

#pagina2 {
    background: radial-gradient(circle at top right, #1f41bb, #061b50, #101728);
}

#imagem2, #imagem3, #imagem4, #imagem5 {
    max-width: 40%;
    height: auto;
    border-radius: 20px;
}

.title{
    color: #9340ff;
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}

.rollup {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#seta {
    width: 45px;
    transition: transform 0.3s;
    transform: rotate(180deg);
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: radial-gradient(circle at bottom right, #193599, #193599, #101728);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #f953c6;
}

.button {
    padding: 15px 30px;
    font-size: 1.0rem;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient(to right, #971570, #f953c6);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    outline-style: none;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

h2{
    font-size: 3.0rem;
    color: white;
}

input {
    all: unset;
    background-color: #3533cd;
    border-radius: 20px;
    box-shadow: none;
    padding: 8px 20px;
}

.cadastro{
    margin-top: 20px;
}

.cadastro a{
    color: white;
    text-decoration: none;
}

/* Efeito de blur no fundo */
.blur {
    filter: blur(8px); /* Intensidade do blur */
    transition: filter 0.3s ease-in-out; /* Transição suave */
}